<!--<a routerLink="..">&lt; Back to characters</a>-->
<!--<button md-raised-button md-primary >foo</button>-->

<a routerLink=".."><button md-raised-button color="accent"> Back to Characters</button></a>

<body style='margin-top:0;margin-left:110px;margin-right:110px;'>

<div *ngIf="character" >
  <h1 class="center">{{character.name}}</h1>

  <div class="md-thumbnail-container">
    <mh-thumbnail
      [image]="character.thumbnail"
      alt="Thumbnail of {{character.name}}"
    ></mh-thumbnail>
  </div>

  <div *ngIf="character.description">
    <h2>Description</h2>
    <p>{{character.description}}</p>
  </div>

  <mh-links-list [links]="character.urls"></mh-links-list>

  <mh-associated-items
    title="Comics"
    basePath="/comics"
    [collection]="character.comics"
  ></mh-associated-items>

  <mh-associated-items
    title="Series"
    basePath="/series"
    [collection]="character.series"
  ></mh-associated-items>

  <mh-associated-items
    title="Events"
    basePath="/events"
    [collection]="character.events"
  ></mh-associated-items>
</div>

</body>
