<!--<a routerLink="..">&lt; Back to events</a>-->
<a routerLink=".."><button md-raised-button color="accent"> Back to Events</button></a>

<body style='margin-top:0;margin-left:110px;margin-right:110px;'>

<div *ngIf="event">
  <h1 class="text-center">{{event.title}}</h1>

  <div class="md-thumbnail-container">
    <mh-thumbnail
      [image]="event.thumbnail"
      alt="Thumbnail of {{event.title}}"
      class="md-thumbnail-item"
    ></mh-thumbnail>
  </div>

  <div *ngIf="event.description">
    <h3>Description</h3>
    <p>{{event.description}}</p>
  </div>

  <mh-links-list [links]="event.urls"></mh-links-list>

  <ng-container *ngIf="event.start || event.end">
    <h2>Dates</h2>
    <dl style="margin-left: 25px">
      <dt>Start</dt><dd>{{event.start | date:'mediumDate'}}</dd>
      <dt>End</dt><dd>{{event.end | date:'mediumDate'}}</dd>
    </dl>
  </ng-container>

  <ng-container *ngIf="event.previous || event.next">
    <h2>Related events</h2>
    <dl style="margin-left: 25px">
      <ng-container *ngIf="event.previous">
        <dt>Previous Event</dt>
        <dd>
          <mh-item-name
            basePath="/events"
            [item]="event.previous"
          ></mh-item-name>
        </dd>
      </ng-container>

      <ng-container *ngIf="event.next">
        <dt>Next Event</dt>
        <dd>
          <mh-item-name
            basePath="/events"
            [item]="event.next"
          ></mh-item-name>
        </dd>
      </ng-container>
    </dl>
  </ng-container>

  <mh-associated-items
    title="Creators"
    basePath="/creators"
    [collection]="event.creators"
  ></mh-associated-items>

  <mh-associated-items
    title="Characters"
    basePath="/characters"
    [collection]="event.characters"
  ></mh-associated-items>

  <mh-associated-items
    title="Comics"
    basePath="/comics"
    [collection]="event.comics"
  ></mh-associated-items>

  <mh-associated-items
    title="Series"
    basePath="/series"
    [collection]="event.series"
  ></mh-associated-items>
</div>
