/*.md-thumbnail-container {*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*padding: 0 -5px;*/
/*}*/

.md-thumbnail-container {
  /*width: 100%;*/
  /*max-width: 300px;*/
  display: block;
  margin: auto;
  width: 40%;
}

.md-thumbnail-item {
  width: 100%;
  max-width: 200px;
  margin: 5px;
}
